.messages-container {
    display: flex;
    flex-direction: column;
}

.my-messages {
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 5px;
}

.others-messages {
    align-self: flex-start;
    margin-top: 5px;
    margin-left: 5px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}


.message-page-container {
    display: flex;
    justify-content: space-evenly;
    overflow-y: hidden;
    height: 100vh;
}

.search-box > input {
    border-radius: 5px;
}

.message-console {
    height: 100vh;
    overflow: scroll;
}

.friend-list {
    display: flex;
    flex-direction: column;
}

.friendProfile-and-users-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.friend-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.profile-image {
    object-fit: contain;
    height: 20vh;
    border-radius: 50%;
}

:target {
    border: 1px solid black;
    background-color: blue;
}