.messages-container {
    display: flex;
    flex-direction: column;
    height: 87vh;
    overflow-y: auto;
}

.my-messages {
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 5px;
}

.others-messages {
    align-self: flex-start;
    margin-top: 5px;
    margin-left: 5px;
}

.message-console-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.message-page-container {
    display: flex;
    justify-content: space-evenly;
    overflow-y: hidden;
    height: 100vh;
}

.search-box > input {
    border-radius: 5px;
}

.friends-list-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5px 10px;
}

.friends-list-entry {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.friendProfile-and-users-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.friend-profile-container {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: flex-start;
    align-items: center;
}

.profile-image {
    object-fit: contain;
    height: 100%;
}

:target {
    border: 1px solid black;
    background-color: grey;
}

.user-and-friendRequest-container {
    display: flex;
    justify-content: space-evenly;
    height: 60%;
}